@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-primary: #4B6A9B;
    --color-accent: #93C5FD;
    --color-dark: #2D2D2D;
    --color-light: #FFFFFF;
    --color-bg: #F5F5F5;
    --color-gris: #c9c8c8;
    --color-delete: #E57373;
    --color-delete-hover: #D9534F;
    --transition-3s: 0.3s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-dark);
    transition: var(--transition-3s);
}

a:hover{
    text-decoration: underline;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color: var(--color-bg);
}

.wrapper{
    position: relative;
    width: 430px;
    height: 550px;
    background-color: var(--color-light);
    border-radius: 15px;
    padding: 120px 32px 64px;
    border: 1px solid var(--color-primary);
    box-shadow: 0 8px 15px var(--color-primary);
    transition: var(--transition-3s);
}

.form-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    background-color: var(--color-primary);
    border-radius: 0 0 20px 20px;
}

.form-header::before, .form-header::after{
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
}

.form-header::before{
    left: -30px;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 var(--color-primary);
}

.form-header::after{
    right: -30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 var(--color-primary);
}

.titles{
    position: relative;
}

.title-register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-light);
    font-size: 24px;
    transition: var(--transition-3s);
}

.register-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    transition: var(--transition-3s);
}

.input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--color-dark);
    padding: 0 20px;
    border: 1px solid var(--color-gris);
    border-radius: 30px;
    outline: none;
    transition: var(--transition-3s);
}

.input-field:focus{
    border: 1px solid var(--color-primary);
}

.label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--color-primary);
    transition: 0.2s;
    cursor: text;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label{
    top: 0;
    font-size: 14px;
    background-color: var(--color-light);
    color: var(--color-primary);
    padding: 0 10px;
}

.input-field:valid ~ .label{
    color: var(--color-primary);
}

.icon{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--color-primary);
} 

.form-cols{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.col-1{
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--color-light);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition-3s);
}

.btn-submit:hover{
    gap: 15px;
}

.btn-submit i{
    font-size: 20px;
}

.switch-form{
    text-align: center;
}

.switch-form a{
    font-weight: 500;
}

@media only screen and (max-width: 564px) {
    .wrapper{
        margin: 20px;
    }
    
}