<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}PortalUTA{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
	<a href="{{ url_for('main.index') }}"
		style="font-family: 'Times New Roman', Times, serif; font-size:30px; font-weight: bolder; text-decoration-line: none;">
		PortalUTA
	</a>

	{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for msg in messages %}
        <li style="color: {{ msg.color }}">{{ msg.texto }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

	{% block content %}{% endblock %}
</body>
</html>