{% extends "base_home.html" %}
{% block body_class %}index-page{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}

<input type="checkbox" id="sidebar-toggle">
<!-- Sidebar-->
<div class="sidebar">

    <!-- Botón cerrar (mobile only) -->
    <label for="sidebar-toggle" class="close-sidebar">
        <span class="las la-times"></span>
    </label>

    <div class="sidebar-main">

        <div class="sidebar-user">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" />
        </div>

        <div class="sidebar-menu">
            <ul>
                {% if 'user' in session %}
                <!-- Usuario autenticado -->
                <li>
                    <a href="{{ url_for('repos.repositorios') }}">
                        <span class="las la-folder-open"></span>
                        Mis repositorios
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuarios.logout') }}">
                        <span class="las la-sign-out-alt"></span>
                        Cerrar Sesión
                    </a>
                </li>

                {% else %}
                <!-- Usuario NO autenticado -->
                <li>
                    <a href="{{ url_for('usuarios.login') }}">
                        <span class="las la-sign-in-alt"></span>
                        Iniciar Sesión
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuarios.registro') }}">
                        <span class="las la-user-plus"></span>
                        Crear Usuario
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>


<!-- Main Content -->
<div class="main-content">
    <header>
        <div class="menu-toggle">
            <label for="sidebar-toggle">
                <span class="las la-bars"></span>
            </label>
        </div>

        <div class="header-icons">
            <span class="las la-search"></span>

            
            <div class="user-info">
                <span class="las la-user"></span>
                <h3>{{ session.get('user')['username'] }}</h3>
            </div>
        </div>
    </header>
    <main>
        <div class="page-header">
            <div>
                <h1>Bienvenido a Portal UTA</h1>
                <p>Gestiona tus repositorios de prueba en Gitea desde aquí.</p>
            </div>
        </div>

        <!-- Cards de repositorios -->
        <div class="cards">
            {% if repos %}
            {% for repo in repos %}
            <div class="card-single">
                <div class="card-flex">
                    <div class="card-info">
                        <div class="card-head">
                            <h2>{{ repo.nombre }}</h2>
                            <small>#{{ repo.descripcion }}</small>
                        </div>

                        <div class="repo-buttons">
                            <a href="{{ url_for('repos.informacion_repo', nombre=repo.nombre, repo_id=repo._id) }}"
                                class="btn">Ver Información</a>
                        </div>
                    </div>

                    <div class="card-chart blue">
                        <span class="las la-folder"></span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No tienes repositorios aún.</p>
            {% endif %}
        </div>
    </main>
</div>

{% endblock %}