{% extends "base_home.html" %}
{% block content %}
<br>

<nav>
    {% if 'user' in session %}
    <a href="{{ url_for('main.index') }}">
        <button>Volver al inicio</button>
    </a>
    <a href="{{ url_for('repos.repositorios') }}">
        <button>Volver a mis repositorios</button>
    </a>
    <a href="{{ url_for('usuarios.logout') }}">
        <button>Cerrar sesión</button>
    </a>
    {% else %}
    <a href="{{ url_for('usuarios.registro') }}">
        <button>Crear usuario</button>
    </a>
    <a href="{{ url_for('usuarios.login') }}">
        <button>Iniciar sesión</button>
    </a>
    {% endif %}
</nav>

<h2>{{ repo.nombre }}</h2>
<p>{{ repo.descripcion }}</p>
<p>{{ repo.categoria }}</p>
<p>{{ repo.fecha_creacion }}</p>
<p>{{ repo.framework }}</p>
<p>{{ repo.lenguaje }}</p>
<p>Integrantes:</p>
<ul>
    {% for integrante in repo.integrantes %}
        <li>{{ integrante }}</li>
    {% endfor %}
</ul>

<h3>Archivos multimedia:</h3>
{% if archivos %}
<ul>
    {% for archivo in archivos %}
    <li>
        {% set enlace_directo = archivo.webViewLink.replace('dl=0', 'raw=1') %}
        
        {% if archivo.nombre.endswith(('.png', '.jpg', '.jpeg', '.webp', '.gif')) %}
            <img src="{{ enlace_directo }}" alt="{{ archivo.nombre }}"
                style="max-width:200px; display:block; margin-top:5px;">
        
        {% elif archivo.nombre.endswith(('.mp4', '.webm', '.ogg')) %}
            <video controls style="max-width:300px; display:block; margin-top:5px;">
                <source src="{{ enlace_directo }}">
                Tu navegador no soporta videos.
            </video>
        {% endif %}

        <a href="{{ archivo.webViewLink }}" target="_blank">Descargar archivo</a>
    </li>

    {% endfor %}
</ul>
{% else %}
<p>No hay archivos para este repositorio.</p>
{% endif %}
{% endblock %}