{% extends "base_home.html" %}
{% block body_class %}login-page{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="form-header">
        <div class="titles">
            <div class="title-login">Login</div>
        </div>
    </div>

    <!-- Formulario Flask -->
    <form method="POST" action="{{ url_for('usuarios.login') }}" class="login-form" autocomplete="off">

        <div class="input-box">
            <input type="text" class="input-field" name="username" id="username" required>
            <label for="username" class="label">Usuario</label>
            <i class='bx bx-user icon'></i>
        </div>

        <div class="input-box">
            <input type="password" class="input-field" name="password" id="password" required>
            <label for="password" class="label">Contraseña</label>
            <i class='bx bx-lock-alt icon'></i>
        </div>

        <div class="form-cols">
            <div class="col-1"></div>
            <div class="col-2">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
        </div>

        <div class="input-box">
            <button type="submit" class="btn-submit">Iniciar Sesión <i class='bx bx-log-in'></i></button>
        </div>

        <div class="switch-form">
            <span>O registra un nuevo usuario 
                <a href="{{ url_for('usuarios.registro') }}">aquí</a>
            </span>
        </div>

    </form>
</div>

{% endblock %}