{% extends "base_home.html" %}
{% block body_class %}register-page{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
{% endblock %}
{% block content %}

<div class="wrapper">
	<div class="form-header">
		<div class="titles">
			<div class="title-register">Registro</div>
		</div>
	</div>

	<!-- FORMULARIO DE REGISTRO -->
	<form method="POST" action="{{ url_for('usuarios.registro') }}" class="register-form" autocomplete="off">

		<div class="input-box">
			<input type="text" class="input-field" id="reg-username" name="username" required>
			<label for="reg-username" class="label">Usuario</label>
			<i class='bx bx-user icon'></i>
		</div>

		<div class="input-box">
			<input type="email" class="input-field" id="reg-email" name="email" required>
			<label for="reg-email" class="label">Correo</label>
			<i class='bx bx-envelope icon'></i>
		</div>

		<div class="input-box">
			<input type="password" class="input-field" id="reg-pass" name="password" required>
			<label for="reg-pass" class="label">Contraseña</label>
			<i class='bx bx-lock-alt icon'></i>
		</div>

		<div class="form-cols">
			<div class="col-1"></div>
			<div class="col-2">
				<label for="agree"></label>
			</div>
		</div>

		<div class="input-box">
			<button type="submit" class="btn-submit" id="SignUpBtn">
				Crear Usuario <i class='bx bxs-user'></i>
			</button>
		</div>
	</form>
</div>

{% endblock %}