{% extends "base_home.html" %}
{% block body_class %}comandos-page{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/repocomandos.css') }}">
{% endblock %}
{% block content %}

<input type="checkbox" id="sidebar-toggle">


{% if 'user' in session %}
<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-main">
        <div class="sidebar-user">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" />
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{{ url_for('repos.repositorios') }}">
                        <span class="las la-folder"></span>
                        Mis repositorios
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuarios.logout') }}">
                        <span class="las la-sign-out-alt"></span>
                        Cerrar Sesión
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endif %}

<!-- Main Content -->
<div class="main-content">

    <header>
        <div class="menu-toggle">
            <label for="sidebar-toggle">
                <span class="las la-bars"></span>
            </label>
        </div>

        <div class="header-icons">
            <span class="las la-search"></span>

            <!-- Usuario con nombre -->
            <div class="user-info">
                <span class="las la-user"></span>
                <h3>{{ session.get('user') }}</h3>
            </div>
        </div>
    </header>
    <main>
        <div class="page-header">
            <div>
                <h1>Comandos Git para {{ repo_name }}</h1>
            </div>
        </div>

        <!-- Cards de repositorios -->
        <div class="cards">
            <div class="card-single">
                <div class="card-flex">
                    <div class="card-info">
                       <pre>{{ comandos }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>



{% endblock %}